@import "tailwindcss";
:root {
  --primary-color: #0180f6;
  --bg-color: #f0f2f5;
  --text-color: #1d1d1f;
  --border-radius: 12px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  --font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
}
body,
html {
  height: 100%;
  overflow: auto; /* hoặc unset */
  overscroll-behavior: auto;
  -webkit-overflow-scrolling: touch; /* cần cho iOS */
}
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-color);
  scroll-behavior: smooth;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  background-color: #f3f4f6;
}
input {
  border: 1px solid #999;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  color: var(--text-color);
  box-sizing: border-box;
  transition: all 0.3s;
  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}
#root {
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch; /* quan trọng cho iOS */
}
.fadeInTop {
  animation: fadeInTop 0.4s ease-in-out;
}
.typewriter {
  overflow: hidden;
  width: 0;
  animation: typing 0.6s steps(30, end) 0.3s forwards,
    blink 0.75s step-end infinite;
}
.typewriter-delayed {
  overflow: hidden;
  width: 0;
  animation: typing 1.3s steps(30, end) 0.9s forwards,
    blink 0.75s step-end infinite;
}
@keyframes halfturn {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-halfturn {
  animation: halfturn 0.6s ease-in-out;
  will-change: transform;
}

.ant-form-item {
  margin-bottom: 15px;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
a {
  color: inherit !important; /* dùng màu kế thừa từ cha */
  transition: none !important; /* tắt hiệu ứng */
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

/* New Page Styles */
.client-card {
  width: 189px;
  height: 165px;
}

.user-avatar {
  width: 43px;
  height: 40px;
}

.search-container {
  width: 240px;
  height: 55px;
}

.add-button {
  width: 55px;
  height: 55px;
}
.ant-form-item-control-input-content {
  flex: unset !important;
  max-width: 100% !important;
}

.ant-form-item-control-input {
  justify-content: flex-end !important;
}
.ant-input-number-input {
  text-align: center !important;
}
